/practica2/pevpr2/nbproject/private/
/nbproject/private/
/practica2/pevpr2/build/
/practica2/pevpr2/dist/
/practica3/pevpr2/build/
/practica3/pevpr2/nbproject/private/
/practica3/pevpr3/nbproject/private/
/practica3/pevpr3/build/